{% extends "base.html" %}


{% block content %}


<h1>
Career Preferences
</h1>



<form method="POST" action="/preferences">


<div class="mb-3">

<label>
Preferred Location
</label>

<input
type="text"
name="preferred_location"
class="form-control"
value="{{ preferences[0].preferred_location if preferences else '' }}"
placeholder="California">
</div>


<div class="mb-3">

<label>
Remote Preference
</label>

<select
name="remote_preference"
class="form-control">

<option value="Remote"
{% if preferences and preferences[0].remote_preference == "Remote" %}
selected
{% endif %}>
Remote
</option>


<option value="Hybrid"
{% if preferences and preferences[0].remote_preference == "Hybrid" %}
selected
{% endif %}>
Hybrid
</option>


<option value="On-site"
{% if preferences and preferences[0].remote_preference == "On-site" %}
selected
{% endif %}>
On-site
</option>

</select>
</div>


<div class="mb-3">

<label>
Target Salary
</label>


<input
type="number"
name="target_salary"
class="form-control"
value="{{ preferences[0].target_salary if preferences else '' }}"
placeholder="150000">

</div>


<div class="mb-3">

<label>
Job Type
</label>


<select
name="job_type"
class="form-control">

<option value="Full-time"
{% if preferences and preferences[0].job_type == "Full-time" %}
selected
{% endif %}>
Full-time
</option>

<option value="Contract"
{% if preferences and preferences[0].job_type == "Contract" %}
selected
{% endif %}>
Contract
</option>

<option value="Part-time"
{% if preferences and preferences[0].job_type == "Part-time" %}
selected
{% endif %}>
Part-time
</option>

</select>

</div>




<div class="form-check mb-3">

<input
class="form-check-input"
type="checkbox"
name="sponsorship_required"
{% if preferences and preferences[0].sponsorship_required %}
checked
{% endif %}
>

<label>

Need Sponsorship

</label>


</div>




<button class="btn btn-primary">

Save Preferences

</button>


</form>


{% endblock %}