{% extends "base.html" %}


{% block content %}


<h1>
Upload Resume
</h1>


<form
method="POST"
enctype="multipart/form-data"
>


<div class="mb-3">

<label>
Choose PDF
</label>


<input

type="file"

name="resume"

class="form-control"

accept=".pdf"

>


</div>


<button class="btn btn-primary">

Upload Resume

</button>


</form>



<hr>


{% if resume %}

<h3>Current Resume</h3>

<a href="/resume/view/{{ resume[0].id }}" 
   target="_blank"
   class="btn btn-primary">

    {{ resume[0].storage_path.split('/')[-1] }}

</a>

{% endif %}

<p>
Uploaded Successfully ✅
</p>


{% else %}

<p>
No resume uploaded yet.
</p>


{% endif %}



{% endblock %}